/* Bg Image Css Start */
.bg-img {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    width: 100% !important;
    height: 100% !important;
}

/* Bg Image Css End */