/* hover bg class start */
@each $color, $shades in $colors {
  @each $shade, $value in $shades {
    .bg-#{$color}-#{$shade} {
      background-color: var(--#{$color}-#{$shade}) !important;
    }
  }
}

// hover background
@each $color, $shades in $colors {
  @each $shade, $value in $shades {
    .hover-bg-#{$color}-#{$shade} {
      &:hover {
        background-color: var(--#{$color}-#{$shade}) !important;
      }
    }
  }
}

.hover-bg--white {
  &:hover {
    background-color: hsl(var(--white)) !important;
  }
}

.bg--white {
  background-color: hsl(var(--white)) !important;

  &-10 {
    background-color: hsl(var(--white) / 0.1) !important;
  }

  &-08 {
    background-color: hsl(var(--white) / 0.08) !important;
  }

  &-13 {
    background-color: hsl(var(--white) / 0.13) !important;
  }

  &-7 {
    background-color: hsl(var(--white) / 0.7) !important;
  }

  &-06 {
    background-color: hsl(var(--white) / 0.06) !important;
  }
}

.bg-black {
  background-color: hsl(var(--black)) !important;
}

.bg-black-two {
  background-color: hsl(var(--black-two)) !important;
}


.hover-bg-spread-effect {
  position: relative;
  overflow: hidden;
  transition: .8s;
  z-index: 1;

  .hover-bg-spread-dot {
    position: absolute;
    left: 42px;
    bottom: -26px;
    width: 20px;
    height: 20px;
    transition: all 1.2s linear;
    border-radius: 50%;
    background-color: var(--main-600);
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  &:hover {
    .hover-bg-spread-dot {
      width: 320%;
      height: 320%;
    }
  }
}

/* hover bg class end */


/* bg gradient class start */

.bg-gradient {
  &-main {
    background-image: var(--main-gradient) !important;
  }
}