/* Colors class start */
@each $color, $shades in $colors {
  @each $shade, $value in $shades {
    .text-#{$color}-#{$shade} {
      color: var(--#{$color}-#{$shade});
    }
  }
}

.text {
  &--white {
    color: hsl(var(--white));

    &-10 {
      color: hsl(var(--white) / 0.1);
    }

    &-20 {
      color: hsl(var(--white) / 0.2);
    }

    &-30 {
      color: hsl(var(--white) / 0.3);
    }

    &-40 {
      color: hsl(var(--white) / 0.4);
    }

    &-50 {
      color: hsl(var(--white) / 0.5);
    }

    &-60 {
      color: hsl(var(--white) / 0.6);
    }

    &-70 {
      color: hsl(var(--white) / 0.7);
    }

    &-80 {
      color: hsl(var(--white) / 0.8);
    }

    &-90 {
      color: hsl(var(--white) / 0.9);
    }

  }

  &-heading {
    color: hsl(var(--heading-color));
  }

  &-body {
    color: hsl(var(--body-color));
  }

  &-main {
    color: var(--main-600);
  }
}




/* Colors class End */

/* gradient color start */
.text-main-gradient {
  background: linear-gradient(90deg, #2F0FA1 0%, #F45A4E 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* gradient color end */