.tw-container {
    &-1470-px {
        max-width: 1470px;
    }
    &-1520-px {
        max-width: 1520px;
    }
    &-1624-px {
        max-width: 1624px;
    }
    &-1700-px {
        max-width: 1700px;
    }
    &-1800-px {
        max-width: 1800px;
    }
}