/* grid css start */
.grid-cols-2 {
    grid-template-columns: 1fr 1fr;
}

.xs-grid-cols-2 {
    @media (min-width: 425px) {
        grid-template-columns: 1fr 1fr;
    }
}

.grid-col-5 {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

/* grid css end */

.cs-col-xs-6 {
    @media (max-width: 575px) and (min-width: 480px) {
        flex: 0 0 50%;
        max-width: 50%;
    }
}