/* Height Css Class Start */
@each $property, $value in $spaces {
  .tw-h-#{$property} {
    height: $value;
  }
}

.tw-h {
  &-px {
    height: 1px;
  }

  &-screen {
    height: 100vh;
  }

  &-75-px {
    height: 75px;
  }

  &-84-px {
    height: 84px;
  }

  &-92-px {
    height: 92px;
  }

  &-100-px {
    height: 100px;
  }

  &-min-100-px {
    min-height: 100px;
  }

  &-184-px {
    height: 184px;
  }

  &-207-px {
    height: 207px;
  }

  &-300-px {
    height: 300px;
  }

  &-320-px {
    height: 320px;
  }

  &-666-px {
    height: 666px;
  }

  &-730-px {
    height: 730px;
  }

  &-735-px {
    height: 735px;
  }

  &-790-px {
    height: 790px;
  }

  &-1220-px {
    height: 1220px;
  }
}

.tw-min-h {
  &-184-px {
    min-height: 184px;
  }

  &-210-px {
    min-height: 210px !important;
  }
}

/* Height Css Class End */