/* Max width Css Class Start */
.max-w {
    &-100-px {
        max-width: 100px;
    }

    &-150-px {
        max-width: 150px;
    }

    &-200-px {
        max-width: 200px;
    }

    &-400-px {
        max-width: 400px;
    }

    &-600-px {
        max-width: 600px;
    }

    &-1140-px {
        max-width: 1140px;
    }

    &-1290-px {
        max-width: 1290px;
    }

    &-unset {
        max-width: unset;

        * {
            max-width: unset;
        }
    }
}

.max-w-lg {
    @media screen and (min-width: 992px) {
        &-unset {
            max-width: unset !important;

            * {
                max-width: unset !important;
            }

        }

        &-150-px {
            max-width: 200px;
        }

        &-200-px {
            max-width: 200px;
        }
    }
}

.max-w-md {
    @media screen and (min-width: 768px) {
        &-unset {
            max-width: unset !important;

            * {
                max-width: unset !important;
            }

        }

        &-150-px {
            max-width: 150px;
        }

        &-200-px {
            max-width: 200px;
        }
    }
}

.max-w-sm {
    @media screen and (min-width: 576px) {
        &-unset {
            max-width: unset !important;

            * {
                max-width: unset !important;
            }

        }

        &-150-px {
            max-width: 150px;
        }

        &-200-px {
            max-width: 200px;
        }
    }
}

/* Max width Css Class End */