/* ================================= Typography Css Start =========================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  color: hsl(var(--body-color));
  word-break: break-word;
  background-color: hsl(var(--white));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

p {
  font-weight: 400;
  margin: 0;
  line-height: 1.6;
}

span {
  display: inline-block;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin: 0;
  font-family: var(--heading-font);
  color: hsl(var(--white));
  line-height: 120%;
  font-weight: 700;
}

h1,
.h1,
.heading-one {
  font-size: var(--heading-one);
}

h2,
.h2,
.heading-two {
  font-size: var(--heading-two);
}

h3,
.h3,
.heading-three {
  font-size: var(--heading-three);
}

h4,
.h4,
.heading-four {
  font-size: var(--heading-four);
}

h5,
.h5,
.heading-five {
  font-size: var(--heading-five);
}

h6,
.h6 {
  font-size: var(--heading-six);
}


.display-one {
  font-size: var(--display-one);
}

.display-two {
  font-size: var(--display-two);
}

.display-three {
  font-size: var(--display-three);
}

.display-four {
  font-size: var(--display-four);
}

.display-five {
  font-size: var(--display-five);
}



h1>a,
h2>a,
h3>a,
h4>a,
h5>a,
h6>a {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  transition: 0.2s linear;
  line-height: inherit;

  &:hover {
    color: inherit;
  }
}

a {
  display: inline-block;
  transition: 0.2s linear;
  text-decoration: none;
  color: #0661e9;
}

a:hover {
  color: #1d72f2;
}

img {
  max-width: 100%;
  height: auto;
}

select {
  cursor: pointer;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  border: 0;
  background-color: transparent;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

input:focus,
input:focus-visible {
  box-shadow: none;
}

/* ================================= Typography Css End =========================== */