/* ========================== Button Css Start =============== */
.button__label {
    position: relative;
    text-align: center;
    transition: color 0.05s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.button--stroke {
    &:hover {
        color: #0e100f;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 0.125rem solid #fffce1;
        border-radius: inherit;
        pointer-events: none;
    }

    .button__flair {
        transform: scale(0);
        transform-origin: 0 0;
    }

    .button__label {
        transition: color 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
}

.button__flair {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 200%;
        aspect-ratio: 1/1;
        background-color: #fffce1;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
    }
}

.btn {
    border: 0;
    color: hsl(var(--white));
    line-height: 1;
    padding: 18px 32px;
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    z-index: 1;
    transition: .2s linear;

    @include lg-screen {
        padding: 12px 24px;
    }

    @include xsm-screen {
        padding: 10px 20px;
    }

    &:hover,
    &:focus,
    &:focus-visible {
        box-shadow: none !important;
    }

    // ============= Different Color Button Start ==================
    &-main {
        background-color: var(--main-600) !important;
        color: hsl(var(--white)) !important;

        &.button--stroke {
            &::after {
                border-color: transparent;
            }
        }

    }
}

.hover-style {
    &-one {

        &:hover,
        &:active {
            background-color: var(--main-600);

            &.button--stroke {
                &::after {
                    border-color: transparent;
                }
            }
        }

        .button__flair {
            &::before {
                background-color: var(--main-two-600);
            }
        }
    }

    &-two {

        &:hover,
        &:active {
            color: var(--main-two-600) !important;

            &.button--stroke {
                &::after {
                    border-color: transparent;
                }
            }
        }

        .button__flair {
            &::before {
                background-color: hsl(var(--white));
            }
        }
    }
}


// ==================== Theme Button Css Start ====================

.theme-btn-main {
    font-family: var(--heading-font);
    font-weight: 600;
    font-size: 16px;
    text-transform: capitalize;
    padding: 16px 32px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    transition: .4s;
    position: relative;
    z-index: 2;
    overflow: hidden;

    @include lg-screen {
        padding: 12px 24px;
    }

    @include xsm-screen {
        padding: 10px 20px;
    }

    .theme-btn-arrow-icon {
        font-size: 20px;
        transition: .4s;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;

        i:last-child {
            position: absolute;
            transform: translateY(50px) translateX(-50px);
            transition: .4s;
        }
    }

    .tw-btn-circle-dot {
        position: absolute;
        left: 42px;
        bottom: -15px;
        width: 20px;
        height: 20px;
        transition: all .6s;
        border-radius: 50%;
        background-color: var(--main-600);
        transform: translate(-50%, -50%);
        z-index: -1;

        @include sm-screen {
            width: 12px;
            height: 12px;
            left: 32px;
            bottom: -10px;
        }
    }

    &:hover {
        .theme-btn-arrow-icon {
            transform: translateY(-50px) translateX(50px);
        }

        .tw-btn-circle-dot {
            width: 300%;
            height: 300%;
        }
    }
}


.theme-btn-main-two {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 1px;
    transition: .4s;

    .theme-btn-text {
        font-family: var(--heading-font);
        font-weight: 500;
        font-size: 16px;
        text-transform: capitalize;
        padding: 16px 32px;
        display: inline-flex;
        align-items: center;
        gap: 8px;
        border-radius: 32px;
        transition: .4s;
        z-index: 2;
    }

    &:hover {
        .theme-btn-arrow-left {
            scale: 1;
        }

        .theme-btn-arrow-right {
            scale: 0;
        }

        .theme-btn-text {
            transform: translateX(56px);
        }
    }

    .theme-btn-arrow-left,
    .theme-btn-arrow-right {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        font-size: 20px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .theme-btn-arrow-left {
        position: absolute;
        scale: 0;
        left: 0;
        right: auto;
        transition: .4s;
    }
}


.tw-hover-btn {
    position: relative;
    overflow: hidden;
    z-index: 1;

    .tw-btn-circle-dot {
        position: absolute;
        left: 42px;
        bottom: -15px;
        width: 20px;
        height: 20px;
        transition: all .6s;
        border-radius: 50%;
        background-color: var(--main-600);
        transform: translate(-50%, -50%);
        z-index: -1;

        @include sm-screen {
            width: 12px;
            height: 12px;
            left: 32px;
            bottom: -10px;
        }
    }

    &:hover {
        .tw-btn-circle-dot {
            width: 300%;
            height: 300%;
        }
    }
}


// ==================== Button Circle Css Start ====================
.tw-btn {
    &-circle {
        width: 160px;
        height: 160px;
        line-height: 1;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--main-600);
        border-radius: 50%;
        position: relative;
        overflow: hidden;

        .tw-btn-circle-icon {
            text-align: center;
            transition: 0.4s;
        }

        .tw-hover-btn-wrapper {
            display: inline-block;
        }

        .tw-btn-circle-dot {
            position: absolute;
            left: 42px;
            bottom: -15px;
            width: 20px;
            height: 20px;
            transition: all .6s;
            border-radius: 50%;
            background-color: var(--main-600);
            transform: translate(-50%, -50%);
            z-index: -1;
        }

        &:hover {
            .tw-btn-circle-dot {
                width: 420px;
                height: 420px;
            }

            span {
                color: hsl(var(--white));
            }
        }
    }
}

.tw-hover {
    &-btn-wrapper {
        @include lg-screen {
            margin-block-start: var(--size-8) !important;
        }
    }
}




// ==================== Button Circle Css End ==================== 




// ==================== Text only Button Css Start ====================

.text-only-button {
    font-family: var(--heading-font);
    font-weight: 600;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    transition: .4s;
    position: relative;
    z-index: 2;

    .text-only-button-icon {
        font-size: 20px;
        transition: .4s;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    &.button-two {
        .text-only-button-icon {
            width: 44px;
            height: 44px;
            border-radius: 50%;
        }
    }

    &.btn-sm {
        .text-only-button-icon {
            width: 28px;
            height: 28px;
            font-size: 16px;
        }
    }

    &:hover {
        & .text-only-button-icon {
            transform: translateX(10px);
        }
    }
}

// ==================== Text only Button Css End ====================


// ==================== Ticket Button Css Start ====================

.ticket-button {
    width: 166px;
    height: 166px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    transition: all .4s linear;
    border-radius: 0% 50% 50% 50%;
    padding: 24px;
    text-align: center;

    &-icon {
        font-size: 20px;
        transition: .4s;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-bottom: 8px;
    }

    &-text {
        font-family: var(--heading-font);
        font-weight: 600;
        font-size: 16px;
    }

    @include lg-screen {
        width: 120px;
        height: 120px;
    }

    &.style-two {
        border-radius: 50% 0% 50% 50%;
    }

}

// ==================== Ticket Button Css End ====================



/* =========================== Button Css End =================== */