.btn-cart {
    position: relative;
    font-size: 24px;
    color: hsl(var(--white));
}



/* Sidebar */
.cart-sidebar {
    position: fixed;
    top: 0;
    right: -400px;
    width: 360px;
    height: 100%;
    background: hsl(var(--black));
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    padding: 24px;
    z-index: 1050;
    transition: right 0.35s ease;

    &.active {
        right: 0;
    }

    .cart-items {
        flex-grow: 1;
        overflow-y: auto;
        margin-bottom: 16px;

        /* Hide scrollbar but keep scroll functionality */
        scrollbar-width: none;
        /* Firefox */
        -ms-overflow-style: none;
        /* IE and Edge */

        &::-webkit-scrollbar {
            display: none;
            /* Chrome, Safari, Opera */
        }


        @include sm-screen {
            margin-bottom: 12px;
        }
    }

    .cart-item {
        padding: 0.75rem 0;
        border-bottom: 1px dashed #e0e0e081;

        img {
            width: 60px;
            height: 60px;
            object-fit: cover;
        }

        h6 {
            font-size: 0.95rem;
        }

        small {
            font-size: 0.8rem;
            color: hsl(var(--white));
        }

        .qty-control button {
            width: 28px;
            height: 28px;
            padding: 0;
            line-height: 1;
            border: 1px solid hsl(var(--white) / 0.25);
            color: hsl(var(--white));
            background: transparent;
        }

        .qty {
            font-size: 0.9rem;
            font-weight: 500;
            color: hsl(var(--white));
            width: 28px;
            height: 28px;
            padding: 0;
            border: none;
            line-height: 1;
            background: transparent;
            text-align: center;
        }
    }

    .cart-footer {
        .total-price-wrap {
            .total-price-text {
                font-size: 1rem;
                font-weight: 500;
                color: hsl(var(--white));
            }

            .total-price {
                font-size: 1.2rem;
                font-weight: 700;
                color: hsl(var(--white));
            }
        }

        button,
        a {
            font-size: 0.9rem;
            font-weight: 500;
        }
    }
}

.cart-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 1049;

    &.show {
        opacity: 1;
        visibility: visible;
    }
}