// Image hover Glitch Animation
.img-glitch-wrapper {

    &:hover {
        .img-glitch-thumb {
            img {
                &:nth-child(1) {
                    transform: translatex(0) scalex(1);
                    opacity: 1;
                    filter: blur(0);
                }

                &:nth-child(2) {
                    transform: translatex(-50%) scalex(2);
                    opacity: 0;
                    filter: blur(10px);
                }
            }
        }
    }

    .img-glitch-thumb {
        position: relative;
        overflow: hidden;

        img {
            background-size: cover;

            &:nth-child(1) {
                transform: translatex(50%) scalex(2);
                opacity: 0;
                filter: blur(10px);
                transition: 0.5s;
            }

            &:nth-child(2) {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                object-fit: cover;
                transition: 0.5s;
            }
        }
    }
}

// Image Mouse move Distortion Animation
.distortion-container {
    z-index: -2;

    canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
        pointer-events: none;
    }
}