/* Font Family*/
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

$colors: (
  "main": ("50": hsl(var(--main-h), var(--main-s), calc(var(--main-l) + (100% - var(--main-l)) * 0.9)),
    "100": hsl(var(--main-h), var(--main-s), calc(var(--main-l) + (100% - var(--main-l)) * 0.8)),
    "200": hsl(var(--main-h), var(--main-s), calc(var(--main-l) + (100% - var(--main-l)) * 0.7)),
    "300": hsl(var(--main-h), var(--main-s), calc(var(--main-l) + (100% - var(--main-l)) * 0.6)),
    "400": hsl(var(--main-h), var(--main-s), calc(var(--main-l) + (100% - var(--main-l)) * 0.5)),
    "500": hsl(var(--main-h), var(--main-s), calc(var(--main-l) + (100% - var(--main-l)) * 0.4)),
    "600": hsl(var(--main-h), var(--main-s), var(--main-l)), // main theme color
    "700": hsl(var(--main-h), var(--main-s), calc(var(--main-l) - var(--main-l) * 0.1)),
    "800": hsl(var(--main-h), var(--main-s), calc(var(--main-l) - var(--main-l) * 0.2)),
    "900": hsl(var(--main-h), var(--main-s), calc(var(--main-l) - var(--main-l) * 0.3))),
  "main-two": ("50": hsl(var(--main-two-h), var(--main-two-s), calc(var(--main-two-l) + (100% - var(--main-two-l)) * 0.9)),
    "100": hsl(var(--main-two-h), var(--main-two-s), calc(var(--main-two-l) + (100% - var(--main-two-l)) * 0.8)),
    "200": hsl(var(--main-two-h), var(--main-two-s), calc(var(--main-two-l) + (100% - var(--main-two-l)) * 0.7)),
    "300": hsl(var(--main-two-h), var(--main-two-s), calc(var(--main-two-l) + (100% - var(--main-two-l)) * 0.6)),
    "400": hsl(var(--main-two-h), var(--main-two-s), calc(var(--main-two-l) + (100% - var(--main-two-l)) * 0.5)),
    "500": hsl(var(--main-two-h), var(--main-two-s), calc(var(--main-two-l) + (100% - var(--main-two-l)) * 0.4)),
    "600": hsl(var(--main-two-h), var(--main-two-s), var(--main-two-l)), // main two theme color
    "700": hsl(var(--main-two-h), var(--main-two-s), calc(var(--main-two-l) - var(--main-two-l) * 0.1)),
    "800": hsl(var(--main-two-h), var(--main-two-s), calc(var(--main-two-l) - var(--main-two-l) * 0.2)),
    "900": hsl(var(--main-two-h), var(--main-two-s), calc(var(--main-two-l) - var(--main-two-l) * 0.3))),
  "main-three": ("50": hsl(var(--main-three-h), var(--main-three-s), calc(var(--main-three-l) + (100% - var(--main-three-l)) * 0.9)),
    "100": hsl(var(--main-three-h), var(--main-three-s), calc(var(--main-three-l) + (100% - var(--main-three-l)) * 0.8)),
    "200": hsl(var(--main-three-h), var(--main-three-s), calc(var(--main-three-l) + (100% - var(--main-three-l)) * 0.7)),
    "300": hsl(var(--main-three-h), var(--main-three-s), calc(var(--main-three-l) + (100% - var(--main-three-l)) * 0.6)),
    "400": hsl(var(--main-three-h), var(--main-three-s), calc(var(--main-three-l) + (100% - var(--main-three-l)) * 0.5)),
    "500": hsl(var(--main-three-h), var(--main-three-s), calc(var(--main-three-l) + (100% - var(--main-three-l)) * 0.4)),
    "600": hsl(var(--main-three-h), var(--main-three-s), var(--main-three-l)), // main two theme color
    "700": hsl(var(--main-three-h), var(--main-three-s), calc(var(--main-three-l) - var(--main-three-l) * 0.1)),
    "800": hsl(var(--main-three-h), var(--main-three-s), calc(var(--main-three-l) - var(--main-three-l) * 0.2)),
    "900": hsl(var(--main-three-h), var(--main-three-s), calc(var(--main-three-l) - var(--main-three-l) * 0.3))),
  "main-four": ("50": hsl(var(--main-four-h), var(--main-four-s), calc(var(--main-four-l) + (100% - var(--main-four-l)) * 0.9)),
    "100": hsl(var(--main-four-h), var(--main-four-s), calc(var(--main-four-l) + (100% - var(--main-four-l)) * 0.8)),
    "200": hsl(var(--main-four-h), var(--main-four-s), calc(var(--main-four-l) + (100% - var(--main-four-l)) * 0.7)),
    "300": hsl(var(--main-four-h), var(--main-four-s), calc(var(--main-four-l) + (100% - var(--main-four-l)) * 0.6)),
    "400": hsl(var(--main-four-h), var(--main-four-s), calc(var(--main-four-l) + (100% - var(--main-four-l)) * 0.5)),
    "500": hsl(var(--main-four-h), var(--main-four-s), calc(var(--main-four-l) + (100% - var(--main-four-l)) * 0.4)),
    "600": hsl(var(--main-four-h), var(--main-four-s), var(--main-four-l)), // main two theme color
    "700": hsl(var(--main-four-h), var(--main-four-s), calc(var(--main-four-l) - var(--main-four-l) * 0.1)),
    "800": hsl(var(--main-four-h), var(--main-four-s), calc(var(--main-four-l) - var(--main-four-l) * 0.2)),
    "900": hsl(var(--main-four-h), var(--main-four-s), calc(var(--main-four-l) - var(--main-four-l) * 0.3))),
  "main-five": ("50": hsl(var(--main-five-h), var(--main-five-s), calc(var(--main-five-l) + (100% - var(--main-five-l)) * 0.9)),
    "100": hsl(var(--main-five-h), var(--main-five-s), calc(var(--main-five-l) + (100% - var(--main-five-l)) * 0.8)),
    "200": hsl(var(--main-five-h), var(--main-five-s), calc(var(--main-five-l) + (100% - var(--main-five-l)) * 0.7)),
    "300": hsl(var(--main-five-h), var(--main-five-s), calc(var(--main-five-l) + (100% - var(--main-five-l)) * 0.6)),
    "400": hsl(var(--main-five-h), var(--main-five-s), calc(var(--main-five-l) + (100% - var(--main-five-l)) * 0.5)),
    "500": hsl(var(--main-five-h), var(--main-five-s), calc(var(--main-five-l) + (100% - var(--main-five-l)) * 0.4)),
    "600": hsl(var(--main-five-h), var(--main-five-s), var(--main-five-l)), // main two theme color
    "700": hsl(var(--main-five-h), var(--main-five-s), calc(var(--main-five-l) - var(--main-five-l) * 0.1)),
    "800": hsl(var(--main-five-h), var(--main-five-s), calc(var(--main-five-l) - var(--main-five-l) * 0.2)),
    "900": hsl(var(--main-five-h), var(--main-five-s), calc(var(--main-five-l) - var(--main-five-l) * 0.3))),
  "main-six": ("50": hsl(var(--main-six-h), var(--main-six-s), calc(var(--main-six-l) + (100% - var(--main-six-l)) * 0.9)),
    "100": hsl(var(--main-six-h), var(--main-six-s), calc(var(--main-six-l) + (100% - var(--main-six-l)) * 0.8)),
    "200": hsl(var(--main-six-h), var(--main-six-s), calc(var(--main-six-l) + (100% - var(--main-six-l)) * 0.7)),
    "300": hsl(var(--main-six-h), var(--main-six-s), calc(var(--main-six-l) + (100% - var(--main-six-l)) * 0.6)),
    "400": hsl(var(--main-six-h), var(--main-six-s), calc(var(--main-six-l) + (100% - var(--main-six-l)) * 0.5)),
    "500": hsl(var(--main-six-h), var(--main-five-s), calc(var(--main-six-l) + (100% - var(--main-six-l)) * 0.4)),
    "600": hsl(var(--main-six-h), var(--main-six-s), var(--main-six-l)), // main two theme color
    "700": hsl(var(--main-six-h), var(--main-six-s), calc(var(--main-six-l) - var(--main-six-l) * 0.1)),
    "800": hsl(var(--main-six-h), var(--main-six-s), calc(var(--main-six-l) - var(--main-six-l) * 0.2)),
    "900": hsl(var(--main-six-h), var(--main-six-s), calc(var(--main-six-l) - var(--main-six-l) * 0.3))),
  "main-seven": ("50": hsl(var(--main-seven-h), var(--main-seven-s), calc(var(--main-seven-l) + (100% - var(--main-seven-l)) * 0.9)),
    "100": hsl(var(--main-seven-h), var(--main-seven-s), calc(var(--main-seven-l) + (100% - var(--main-seven-l)) * 0.8)),
    "200": hsl(var(--main-seven-h), var(--main-seven-s), calc(var(--main-seven-l) + (100% - var(--main-seven-l)) * 0.7)),
    "300": hsl(var(--main-seven-h), var(--main-seven-s), calc(var(--main-seven-l) + (100% - var(--main-seven-l)) * 0.6)),
    "400": hsl(var(--main-seven-h), var(--main-seven-s), calc(var(--main-seven-l) + (100% - var(--main-seven-l)) * 0.5)),
    "500": hsl(var(--main-seven-h), var(--main-seven-s), calc(var(--main-seven-l) + (100% - var(--main-seven-l)) * 0.4)),
    "600": hsl(var(--main-seven-h), var(--main-seven-s), var(--main-seven-l)), // main two theme color
    "700": hsl(var(--main-seven-h), var(--main-seven-s), calc(var(--main-seven-l) - var(--main-seven-l) * 0.1)),
    "800": hsl(var(--main-seven-h), var(--main-seven-s), calc(var(--main-seven-l) - var(--main-seven-l) * 0.2)),
    "900": hsl(var(--main-seven-h), var(--main-seven-s), calc(var(--main-seven-l) - var(--main-seven-l) * 0.3))),

  "neutral": ("50": #f9fafb,
    "100": #f3f4f6,
    "200": #e5e7eb,
    "300": #d1d5db,
    "400": #9ca3af,
    "500": #6b7280,
    "600": #4b5563,
    "700": #374151,
    "800": #1f2937,
    "900": #111827,
    "950": #030712,
  ),
);

// Breakpoints
$breakpoints: (
  // "xs": 0,
  'xxs': 320px,
  'xs': 480px,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1400px,
  "xxxl": 1600px,
  "xxxxl": 1800px
);

// Space
$spaces: (
  "05": #{rem(2px)},
  "1": #{rem(4px)},
  "105": #{rem(6px)},
  "2": #{rem(8px)},
  "205": #{rem(10px)},
  "3": #{rem(12px)},
  "305": #{rem(14px)},
  "4": #{rem(16px)},
  "405": #{rem(18px)},
  "5": #{rem(20px)},
  "505": #{rem(22px)},
  "6": #{rem(24px)},
  "605": #{rem(26px)},
  "7": #{rem(28px)},
  "705": #{rem(30px)},
  "8": #{rem(32px)},
  "9": #{rem(36px)},
  "10": #{rem(40px)},
  "11": #{rem(44px)},
  "110": #{rem(46px)},
  "12": #{rem(48px)},
  "122": #{rem(50px)},
  "13": #{rem(52px)},
  "133": #{rem(54px)},
  "14": #{rem(56px)},
  "15": #{rem(60px)},
  "155": #{rem(62px)},
  "16": #{rem(64px)},
  "17": #{rem(68px)},
  "18": #{rem(72px)},
  "19": #{rem(76px)},
  "20": #{rem(80px)},
  "21": #{rem(88px)},
  "22": #{rem(92px)},
  "23": #{rem(96px)},
  "24": #{rem(100px)},
  "25": #{rem(104px)},
  "26": #{rem(108px)},
  "27": #{rem(112px)},
  "28": #{rem(116px)},
  "29": #{rem(120px)},
  "30": #{rem(124px)},
);

// Font Size
$font-sizes: (
  "xs": #{rem(12px)},
  "sm": #{rem(14px)},
  "base": #{rem(16px)},
  "lg": #{rem(18px)},
  "xl": #{rem(20px)},
  "2xl": #{rem(24px)},
  "3xl": #{rem(30px)},
  "4xl": #{rem(36px)},
  "5xl": #{rem(48px)},
  "6xl": #{rem(60px)},
  "7xl": #{rem(72px)},
  "8xl": #{rem(96px)},
  "9xl": #{rem(128px)},
);


/* ========================= Variable Css Start ======================== */
:root {
  /* Font Family Variable */
  --heading-font: "Titillium Web",
    sans-serif;
  --body-font: "DM Sans",
    sans-serif;
  --caveat-font: "Caveat",
    cursive;

  /* Font Size Variable Start */

  /* Display Font Size Start */
  --display-one: clamp(48px, calc(48px + 3vw), 120px);
  /* 60 → 120 */
  --display-two: clamp(48px, calc(41.6px + 2vw), 80px);
  /* 48 → 80 */
  --display-three: clamp(40px, calc(33.6px + 2vw), 72px);
  /* 40 → 72 */
  --display-four: clamp(32px, calc(25.6px + 2vw), 64px);
  /* 32 → 64 */
  --display-five: clamp(28px, calc(23.2px + 1.5vw), 52px);
  /* 28 → 52 */

  /* Heading Font Size Start */
  --heading-one: clamp(2rem, -0.0733rem + 6.3692vw, 4.25rem); // Min:32px - Max:68px
  --heading-two: clamp(1.75rem, 0.7133rem + 2.8846vw, 2.875rem); // Min: 28px - Max: 46px
  --heading-three: clamp(1.5rem, 0.3353rem + 2.1661vw, 2.5rem); // Min: 24px - Max: 40px
  --heading-four: clamp(1.25rem, 0.5569rem + 1.444vw, 2rem); // Min: 20px - Max: 32px
  --heading-five: clamp(1.125rem, 1.2rem + 0.722vw, 1.75rem); // Min: 18px - Max: 28px
  --heading-six: clamp(1rem, 0.769rem + 0.6813vw, 1.25rem); // Min: 16px - Max-20px
  /* Font Size End */

  /* template main color */
  --main-hex: #e69c43;
  --main-h: 37;
  --main-s: 74%;
  --main-l: 57%;
  --main: var(--main-h) var(--main-s) var(--main-l);
  --main-gradient: linear-gradient(90deg, #000000 0%, #000000 100%);
  --main-gradient-two: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(236, 26, 255, 0.00) 100%);


  /* template main two color */
  --main-two-hex: #e69c43;
  --main-two-h: 37;
  --main-two-s: 74%;
  --main-two-l: 57%;
  --main-two: var(--main-two-h) var(--main-two-s) var(--main-two-l);
  --main-two-gradient: linear-gradient(180deg, rgba(255, 236, 26, 0.80) 0%, rgba(255, 236, 26, 0.00) 100%);


  /* template main three color */
  --main-three-hex: #f4594e;
  --main-three-h: 4;
  --main-three-s: 88%;
  --main-three-l: 63%;
  --main-three: var(--main-three-h) var(--main-three-s) var(--main-three-l);
  --main-three-gradient: linear-gradient(180deg, rgba(244, 90, 78, 0.80) 0%, rgba(244, 90, 78, 0.00) 100%);


  /* template main four color */
  --main-four-hex: #5233ff;
  --main-four-h: 249;
  --main-four-s: 100%;
  --main-four-l: 60%;
  --main-four: var(--main-four-h) var(--main-four-s) var(--main-four-l);


  /* template main five color */
  --main-five-hex: #754def;
  --main-five-h: 255;
  --main-five-s: 84%;
  --main-five-l: 62%;
  --main-five: var(--main-five-h) var(--main-five-s) var(--main-five-l);

  /* template main six color */
  --main-six-hex: #F248B4;
  --main-six-h: 322;
  --main-six-s: 87%;
  --main-six-l: 62%;
  --main-six: var(--main-six-h) var(--main-six-s) var(--main-six-l);

  /* template main seven color */
  --main-seven-hex: #1B0067;
  --main-seven-h: 256;
  --main-seven-s: 100%;
  --main-seven-l: 20%;
  --main-seven: var(--main-seven-h) var(--main-seven-s) var(--main-seven-l);




  /* Common Color */
  --white: 0 0% 100%;
  --black: 240 46% 5%;
  --black-two: 244, 44%, 8%;
  --black-three: 244, 22%, 14%;
  --body: 0 0% 43%;

  --heading-color: var(--black);
  --body-color: var(--body);


  --translate-x-50: translateX(-50%);
  --translate-y-50: translateY(-50%);

  // spacing
  @each $property, $value in $spaces {
    --size-#{$property}: #{$value};
  }

  // Colors
  @each $color, $shades in $colors {
    @each $shade, $value in $shades {
      --#{$color}-#{$shade}: #{$value};
    }
  }

  // font sizes
  @each $property, $value in $font-sizes {
    --font-#{$property}: #{$value};
  }
}

/* ========================= Variable Css End ======================== */