.body-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: rgb(24, 24, 24);
    visibility: hidden;
    opacity: 0;
    transition: 0.45s ease-in-out;

    &.apply {
        opacity: .700;
        visibility: visible;
    }

    &:hover {
        cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVBAMAAABbObilAAAAMFBMVEVMaXH////////////////////////////////////////////////////////////6w4mEAAAAD3RSTlMAlAX+BKLcA5+b6hJ7foD4ZP1OAAAAkUlEQVR4XkWPoQ3CUBQAL4SktoKAbCUjgAKLJZ2ABYosngTJCHSD6joUI6BZgqSoB/+Shqde7sS9x3OGk81fdO+texMtRVTia+TsQtHEUJLdohJfgNNPJHyEJPZTsWLoxShqsWITazEwqePAn69Sw2TUxk1+euPis3EwaXy8RMHSZBIlRcKKnC5hRctjMf57/wJbBlAIs9k1BAAAAABJRU5ErkJggg==), progress;
    }
}

.twoffcanvas {
    right: -100%;
    width: 420px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 8px 24px;
    z-index: 999999;
    scrollbar-width: none;
    opacity: 0;
    visibility: hidden;
    transition: 0.45s ease-in-out;
    overflow-y: scroll;

    &.opened {
        opacity: 1;
        visibility: visible;
    }

    &.opened {
        right: 0;
        -webkit-transition: all .4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        -moz-transition: all .4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        transition: all .4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        transition-duration: .6s;
    }

    &__title {
        & p {
            color: rgba(255, 255, 255, 0.8);
        }
    }

    &__input {
        margin-bottom: 100px;

        & input {
            background: transparent;
            border: transparent;
            height: 60px;
            width: 100%;
            padding-left: 20px;
            padding-right: 80px;
            color: hsl(var(--white));
            border: 1px solid #EAEAEF;

            &:focus {
                border: 1px solid var(--main-600);
            }

            &::placeholder {
                color: hsl(var(--white));
            }
        }

        & button {
            height: 100%;
            width: 60px;
            background-color: var(--main-600);
            color: hsl(var(--heading-color));
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            border: 1px solid var(--main-600);
            font-size: 28px;
        }
    }

    &__contact-info {
        & ul {
            & li {
                & a {
                    background-image: linear-gradient(to right, currentColor 0, currentColor 100%);
                    background-position: 0 100%;
                    background-repeat: no-repeat;
                    background-size: 0 1px;
                    transition: all 0.3s, background-size 0.8s;

                    &:hover {
                        background-size: 100% 1px;
                    }
                }
            }
        }
    }

    &__logo {
        max-width: 180px;
        width: 100%;
    }

    &__close-btn {
        & button {
            position: absolute;
            right: 40px;
            top: 50px;
            transition: 1s;
            -webkit-transition: all .4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
            -moz-transition: all .4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
            transition: all .4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
            transition-duration: .3s;
            height: 40px;
            width: 40px;
            line-height: 45px;
            background-color: var(--main-600);
            color: hsl(var(--heading-color));

            &:hover {
                & i {
                    transform: rotate(360deg);
                }
            }

            & i {
                transition: .9s;
            }
        }
    }
}