// Gallery Two
.gallery-two {
    &-area {
        .panel-item {
            border: 8px solid rgba(255, 255, 255, 0.15);
            border-radius: 8px;

            @include sm-screen {
                border: 4px solid rgba(255, 255, 255, 0.15);
            }

            img {
                border-radius: 8px;
            }
        }

        .gallery-two-thumb {
            .gallery-two-button {
                padding: 40px 0;
                border-radius: 100% 100% 0 0;
                background: var(--main-600);
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 50%);
                max-height: calc((100% / 2) + 20px);
                width: 100%;
                height: 100%;
                opacity: 0;
                visibility: hidden;
                transition: all 0.3s ease;

                @include xxl-screen {
                    padding: 30px 0;
                }

                @include lg-screen {
                    padding: 20px 0;
                }

                .gallery-two-btn {
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    background-color: hsl(var(--white));
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 auto;
                    font-size: 20px;
                    color: var(--main-600);
                    margin-bottom: 24px;

                    @include xxl-screen {
                        width: 50px;
                        height: 50px;
                        font-size: 18px;
                        margin-bottom: 20px;
                    }

                    @include lg-screen {
                        width: 40px;
                        height: 40px;
                        font-size: 16px;
                        margin-bottom: 16px;
                    }
                }
            }

            &:hover {
                & .gallery-two-button {
                    opacity: 1;
                    visibility: visible;
                    transform: translate(-50%, 0%);
                }
            }
        }
    }
}




// Gallery Five
.gallery-five {
    &-area {
        .panel-item {
            img {
                border-radius: 8px;
            }
        }
    }
}


// Gallery Six
.gallery-six {
    &-area {
        .panel-item {
            img {
                border-radius: 8px;
            }
        }
    }
}