// Home 1 Start
.map-area {
    .map-wrapper {
        max-height: 500px;
        height: 500px;

        @include xl-screen {
            height: 400px;
        }

        @include lg-screen {
            height: 300px;
        }
    }
}

// Home 1 End



// Home 4 Start
.map-four {
    &-area {
        background: #F4F5F7;

        &::after {
            content: '';
            position: absolute;
            max-width: 776px;
            max-height: 776px;
            width: 100%;
            height: 100%;
            border-radius: 776px;
            filter: blur(200px);
            pointer-events: none;
        }

        &::after {
            background: #D9CEFF;
            top: 0;
            left: 0;
            transform: translate(-50%, -80%);
        }
    }

    &-wrapper {
        position: relative;
        z-index: 1;
        height: 520px;

        @include lg-screen {
            height: 400px;
        }

        .map-info {
            &-content {
                position: absolute;
                top: 40px;
                left: 40px;
                bottom: 40px;
                z-index: 1;
                background: var(--main-600);
                border-radius: 12px;
                padding: 40px;
                max-width: 460px;
                width: 100%;

                @include xl-screen {
                    padding: 32px;
                    top: 30px;
                    left: 30px;
                    bottom: 30px;
                    max-width: 400px;
                }

                @include lg-screen {
                    padding: 24px;
                    top: 20px;
                    left: 20px;
                    bottom: 20px;
                    max-width: 360px;
                }

                @include md-screen {
                    padding: 16px;
                    top: 10px;
                    left: 10px;
                    bottom: 10px;
                    max-width: 300px;
                }

                @include sm-screen {
                    padding: 12px;
                    top: 8px;
                    left: 8px;
                    bottom: 8px;
                    max-width: 240px;
                }
            }

            &-title {
                color: hsl(var(--white));
                font-family: var(--heading-font);
                font-size: 42px;
                font-weight: 700;
                line-height: 123.81%;
                letter-spacing: -0.84px;
                margin-bottom: 32px;

                @include xl-screen {
                    font-size: 32px;
                    margin-bottom: 24px;
                }

                @include lg-screen {
                    font-size: 24px;
                    margin-bottom: 20px;
                }

                @include sm-screen {
                    margin-bottom: 16px;
                }
            }

            &-item-wrapper {
                display: flex;
                flex-direction: column;
                gap: 24px;
                margin-bottom: 32px;

                @include lg-screen {
                    margin-bottom: 24px;
                }

                @include md-screen {
                    margin-bottom: 20px;
                    gap: 16px;
                }

                @include sm-screen {
                    margin-bottom: 16px;
                    gap: 12px;
                }
            }

            &-item {
                display: flex;
                align-items: center;
                gap: 12px;

                @include sm-screen {
                    gap: 8px;
                    align-items: start;
                }

                &-icon {
                    width: 48px;
                    height: 48px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: hsl(var(--white));
                    font-size: 32px;

                    @include sm-screen {
                        width: 40px;
                        height: 40px;
                        font-size: 24px;
                    }
                }

                &-content {

                    &-title {
                        color: hsl(var(--white));
                        font-family: var(--heading-font);
                        font-size: 18px;
                        font-weight: 700;
                        text-transform: uppercase;
                    }

                    &-text {
                        color: hsl(var(--white));
                        font-family: var(--heading-font);
                        font-size: 16px;
                        font-weight: 500;
                    }
                }

            }
        }
    }
}